<h3>Importing libraries & Loading data</h3>

In [5]:
import pandas as pd
import numpy as np
from IPython.display import display



global pk
pk = pd.read_csv("../Data/Pokemon.csv")

<h3>Head and Tail</h3>

In [7]:


display(pk.head(3))
display(pk.tail(3))

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

<h3>Info and Describe</h3>

In [8]:
#implementing info and describe
display(pk.info()) 
pk.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

None

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

<h3> Sample and its parameters </h3>

In [ ]:
viewTable = 4     #to work with different parameters without clogging the output

if viewTable == 1 : print(pk.sample(n = 3).to_string())                       #randomly sample n rows 
if viewTable == 3 : print(pk.sample(n = 5, random_state = 7).to_string())     #randomly sample n rows with reproducibility


if viewTable == 4 : 
    pk['weightedAttack'] = round(pk['Attack'] / pk["Attack"].max(),2)
    print(pk.sample(n = 10,weights = pk['weightedAttack']).to_string())
                                  
if viewTable == 2 : 
    print(pk.sample(frac = 0.5).to_string())
    print(pk.sample(frac = 0.5).describe().to_string())   
    #randomly sample fraction of rows with respect to total rows

<h3> Data inspection variables</h3>

In [9]:
print(pk.shape             ,'\n')
print(pk.columns           ,'\n')
print(pk.index             ,'\n')
print(pk.dtypes.to_list()  ,'\n')


pk['Attack'] = pk['Attack'].astype(np.int16)
print(pk['Attack'].memory_usage(deep = True))

print(pk.memory_usage(deep = True).to_string(),'\n')
print(pk['Attack'].max())

(800, 13)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

RangeIndex(start=0, stop=800, step=1)

[dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('bool')]

1728
Index           128
#              6400
Name          52763
Type 1        49808
Type 2        38290
Total          6400
HP             6400
Attack         1600
Defense        6400
Sp. Atk        6400
Sp. Def        6400
Speed          6400
Generation     6400
Legendary       800

190