<h3>Loading Data and libraries</h3>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


global sl
sl = pd.read_csv("../Data/sales_missing.csv")

In [16]:
sl.head(22)

,Quarter Report Date,Baidu Core Revenue,iQIYI Revenue,Baidu Core Total Cost and Expenses,iQIYI Total Cost and Expenses,Operating Income Baidu Core,iQIYI Operating Income
0,30-06-2024,26687.0,7439.0,21079.0,7097.0,5608.0,342.0
1,31-03-2024,23803.0,7927.0,NaN,6982.0,4538.0,NaN
2,31-12-2023,27488.0,NaN,22820.0,6934.0,4668.0,773.0
3,30-09-2023,26572.0,8015.0,21074.0,NaN,5498.0,747.0
4,30-06-2023,NaN,7802.0,21839.0,7192.0,4568.0,610.0
5,31-03-2023,22998.0,8439.0,18907.0,7490.0,4091.0,949.0
6,31-12-2022,25654.0,7593.0,21872.0,NaN,NaN,782.0
7,30-09-2022,25239.0,7471.0,NaN,7161.0,4982.0,NaN
8,30-06-2022,23160.0,NaN,19914.0,6531.0,3246.0,126.0
9,31-03-2022,21378.0,7277.0,18854.0,7183.0,NaN,94.0
10,31-12-2021,25978.0,7389.0,23020.0,8364.0,2958.0,-975.0
11,30-09-2021,NaN,7589.0,20943.0,8957.0,NaN,-1368.0
12,30-06-2021,24041.0,7608.0,19422.0,8730.0,NaN,-1122.0
13,31-03-2021,20483.0,7968.0,16636.0,8982.0,3847.0,-1014.0
14,31-12-2020,23111.0,NaN,16791.0,8765.0,6320.0,-1307.0
15,30-09-2020,21379.0,7188.0,13975.0,NaN,7404.0,-1210.0
16,30-06-2020,18926.0,7412.0,13960.0,8694.0,4966.0,-1282.0
17,31-03-2020,15268.0,NaN,13420.0,9892.0,1848.0,-2242.0
18,31-12-2019,NaN,7497.0,14841.0,10025.0,NaN,-2528.0
19,30-09-2019,21010.0,7397.0,15819.0,10229.0,5191.0,NaN
20,30-06-2019,19540.0,7110.0,17431.0,8982.0,2109.0,-1872.0
21,31-03-2019,17450.0,6990.0,NaN,9016.0,1091.0,-2026.0

30-06-2024
31-03-2024
31-12-2023
30-09-2023
30-06-2023
31-03-2023
31-12-2022
30-09-2022
30-06-2022
31-03-2022
31-12-2021
30-09-2021
30-06-2021
31-03-2021
31-12-2020
30-09-2020
30-06-2020
31-03-2020
31-12-2019
30-09-2019
30-06-2019
31-03-2019
26687.0
23803.0
27488.0
26572.0
nan
22998.0
25654.0
25239.0
23160.0
21378.0
25978.0
nan
24041.0
20483.0
23111.0
21379.0
18926.0
15268.0
nan
21010.0
19540.0
17450.0
7439.0
7927.0
nan
8015.0
7802.0
8439.0
7593.0
7471.0
nan
7277.0
7389.0
7589.0
7608.0
7968.0
nan
7188.0
7412.0
nan
7497.0
7397.0
7110.0
6990.0
21079.0
nan
22820.0
21074.0
21839.0
18907.0
21872.0
nan
19914.0
18854.0
23020.0
20943.0
19422.0
16636.0
16791.0
13975.0
13960.0
13420.0
14841.0
15819.0
17431.0
nan
7097.0
6982.0
6934.0
nan
7192.0
7490.0
nan
7161.0
6531.0
7183.0
8364.0
8957.0
8730.0
8982.0
8765.0
nan
8694.0
9892.0
10025.0
10229.0
8982.0
9016.0
5608.0
4538.0
4668.0
5498.0
4568.0
4091.0
nan
4982.0
3246.0
nan
2958.0
nan
nan
3847.0
6320.0
7404.0
4966.0
1848.0
nan
5191.0
2109.0
1091.0
342.0
nan
773.0
747.0
610.0
949.0
782.0
nan
126.0
94.0
-975.0
-1368.0
-1122.0
-1014.0
-1307.0
-1210.0
-1282.0
-2242.0
-2528.0
nan
-1872.0
-2026.0